<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST"> {% csrf_token %}
        <pre>
            ENTER TOUR NAME:
            <input type="text" name="sname" placeholder="enter your name">
            <button> submit</button>
        </form>
        {% if res %}
        <h1> HI,{{ res }}</h1>
        {% endif %}
    </body>
    </html>